/* Trong file styles.css */

.headerStyle {
  border-left: 270px;
  color: #fff;
  height: auto;
  padding-inline: 0;
  margin: 0;
}

.contentStyle {
  margin: 0 40px 40px 40px;
  color: black;
  background: white;
  background-image: url(https://i.imgur.com/fIkdNV4.png);
  border-radius: 32px;
  height: 100%;
}

.footerStyle {
  margin: 0 10px 10px 20px;
  border-left: 270px;
  color: black;
  background-color: #fff;
}

.layoutContent {
  margin-left: 270px;
  flex-grow: 1;
  background-color: white;
}
