.form-container {
  max-width: 800px;
  margin: 0 20% 0 10%;
  padding: 20px;
  // border: 1px solid #ccc;
  border-radius: 8px;
  // box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;

  form {
    text-align: ce;
    display: flex;
    flex-direction: column;

    input[type='text'],
    input[type='tel'],
    select {
      margin-bottom: 35px;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
      border-radius: 32px;

      font-size: 16px;
    }

    button[type='submit'] {
      padding: 10px 15px;
      border: none;
      border-radius: 32px;
      background-color: rgb(73, 139, 211);

      color: white;
      font-size: 20px;
      cursor: pointer;
      width: 100%;
      // margin-left: 25%;
      // transition: background-color 0.5s ease;

      &:hover {
        background-color: rgb(85, 157, 235);
        color: white;
      }
    }
  }
}
.inputLabel {
  border-radius: 32px;
}
/* CSS Styles */
.titleNhanHang {
  position: relative;
}

.titleNhanHang h1 {
  font-size: 40px;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 20px; /* Khoảng cách giữa tiêu đề và thanh dọc */
}

.titleNhanHang h1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; /* Chiều cao của thanh dọc */
  width: 4px; /* Độ rộng của thanh dọc */
  background-color: orange; /* Màu sắc của thanh dọc */
}
