.menuCustom {
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://i.imgur.com/fIkdNV4.png);
  width: 260px;

  .ant-menu-item {
    &:hover {
      background-color: antiquewhite;
    }
  }
}

.sidebar {
  background-image: url(https://i.imgur.com/fIkdNV4.png);

  width: 260px;
}
