.list_product {
  padding: 20px;
  // border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 20px;
}

.item {
  display: flex;
  margin-bottom: 15px;
}

.avatar {
  display: flex;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 550px;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.info {
  display: flex;
  flex-direction: column;
}

.productTitle {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}
.titleChild {
  font-size: 18px;
}

.number {
  font-size: 20px;
  margin-bottom: 5px;
}

.price_sale {
  font-size: 20px;
  font-size: 1.1em;
}

.price {
  color: #ff5733;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.voucher {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}
.voucher h4 {
  margin-bottom: 10px;
}
.pay {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
}

.pay h3 {
  margin-bottom: 10px;
  color: #333; /* Màu chữ cho tiêu đề */
}

/* Lựa chọn thanh toán */
.pay Input[type='radio'] {
  margin-bottom: 10px; /* Khoảng cách giữa các lựa chọn */
  display: block; /* Hiển thị mỗi lựa chọn trên một dòng */
}
.totalCheckout {
  background-color: rgb(209, 207, 207);
  padding: 20px;
}
.checkOut {
  background-color: white;
  padding: 10px 0;
  width: 100%;
  color: red;
  font-size: 30px;
  border: 1px red dashed;

  &:hover {
    background-color: red;
    color: white;
  }
}
